.list{
    list-style-type: none;
    width: 80%;
}

.item {
    text-align: left;
    margin-bottom: 20px;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    padding: 10px;
    justify-content: left;
    border-radius: 5px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
}

.item h3{
    color: #663a82;
}

.item p {
    overflow: hidden;
    font-weight: normal;
    text-overflow: ellipsis;
}

.item span{
    color: gray;
    font-size: 0.9rem;
    padding: 20px;
}